* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
  font-family: "bubblegum sans", sans-serif;
  background-color: ghostwhite;
  color: rgb(255, 255, 255);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3%;
  border-bottom: 2px solid #2f5755;
  background-color: #5a9690;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .logo a {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.navbar .logo span {
  color: black;
}

.navbar .navbar-item {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.navbar-item a {
  display: flex;
  font-size: 1.5rem;
  margin: 14px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 17px;
}

.navbar-item a:hover {
  color: black;
  transition: 0.3s;
}
  
.welcome {
  padding-top: 200px;
  text-align: center;
  color: black;
  font-size: 45px;
  font-family: poppins;
  font-weight: 500;
}

.My-portofolio {
  text-align: center;
  color: black;
  font-family: poppins, sans-serif;
  padding-bottom: 100px;
}

.about-me {
  background-color: #5a9690;
  color: black;
  font-family: bubblegum sans, sans-serif;
  padding: 10px 5%;
  border-radius: 6rem;
  width: fit-content;
  align-items: center;
  margin: 0 auto;           /* Ubah: centering horizontal */
  text-align: center;
  font-size: 2rem;
  color: white;
  box-shadow: 5 6px #3a6b6a;
}

.about-isi {
  display: flex;
  color: black;
  padding: 55px;
  text-align: justify;
  background-color: #73c8bf4c;
  box-shadow: 0 6px 4px #518a89;
  margin: 30px auto;        /* Ubah: hapus margin-left/right tetap, gunakan auto */
  border-radius: 30px;
  max-width: 900px;
}

.about-isi img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-right: 30px;
  padding-left: 5px;
  margin-top : 10px;  
}

.about-isi .paragraf1 {
  font-size: 20px;
  padding-right: 55px;
  font-family: poppins, serif;
  padding-left: 25px;
  
}

.my-skill {
  background-color: #5a9690;
  color: black;
  font-family: bubblegum sans, sans-serif;
  padding: 10px 5%;
  border-radius: 6rem;
  margin: 55px auto;       
  text-align: center;
  font-size: 2rem;
  color: white;
  box-shadow: 0 6px #3a6b6a;
  width: fit-content;
  align-items: center;
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 55px;
}

.photo-aplikasi {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  
}
.my-skill-photo {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.my-skill-photo:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.my-project {
  background-color: #5a9690;
  color: black;
  font-family: bubblegum sans, sans-serif;
  padding: 10px 5%;
  border-radius: 6rem;
  margin: 55px auto;        /* Ubah: gunakan auto untuk centering */
  text-align: center;
  font-size: 2rem;
  color: white;
  box-shadow: 0 6px #3a6b6a;
  width: fit-content;
  align-items: center;
}

.project-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
  padding: 55px;
  background-color: #73c8bf4c;
  box-shadow: 0 6px 4px #518a89;
  margin-left: 20rem;
  margin-right: 20rem;
  border-radius: 30px;
  flex-direction: column;
  margin-top: 5rem;
  color : black
}

.my-project-photo {
  width: 800px;
  margin-top: 1rem;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 6px 4px #518a89;
  align-items: center;
  display: flex;
}

.project-description {
  font-size: 20px;
  padding: 25px;
  font-family: poppins, serif;
  text-align: justify;
  color: black;
}

.bg-gradient {
  background: linear-gradient(180deg, ghostwhite 0%, ghostwhite 50%, #518a89 100%);

}

.contact-container {
  /* background: linear-gradient(180deg, ghostwhite 0%, ghostwhite 50%, #262626 100%); */
  color: black;
  font-family: "bubblegum sans", sans-serif;
  padding: 10px 5%;
  margin: 2rem auto;       
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px;
}

.input-contact{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.footer {
  text-align: center;
  padding: 50px;
  background-color: #294343;
  color: white;
  font-weight: 700;
  bottom: 0;
  padding: 3rem;
}

.text-footer {
  font-size: 1rem;
  font-family: poppins, sans-serif;
  font-weight: 400;
}



/* .box {
    width: 12rem;
    aspect-ratio: 1/1;
    background-color: dodgerblue;
    animation: spin 1s linear infinite;
    display: center;
    align-items: center;
    position: relative;
    margin-top: 10rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
        left: 0%;
    }
    50% {
        transform: rotate(180deg);
        left: 100%;
    }
    100% {
        transform:  rotate(360deg);
        filter: hue-rotate(360deg);
        left: 0%;
    }
} */